<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
       <!--제이쿼리 불러오기-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  </head>
<body>
        <h3> 강의 개설 </h3><p></p>
        <form action="/api/courses" method="post">
           수업명 : <input type="text" size="20" name="title">
           <p></p>
           요일 :
                <select name="day">
                    <option name="mon">월요일</option>
                    <option name="tue">화요일</option>
                    <option name="wed">수요일</option>
                    <option name="thu">목요일</option>
                    <option name="fri">금요일</option>
                    <option name="sat">토요일</option>
                    <option name="sun">일요일</option>
                </select>
            <p></p>
           시작시간 : <input type="time" name="start_time">
            <p></p>
            학생 목록<p></p>
            <ul class="list-group">
                <% for(var i=0;i<students.length;i++) { %>
                    <li class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="<%= students[i]._id %>" name="check_student">
                            이름 : <%= students[i].name %> / 학년 : <%= students[i].grade %>
                    </li>
                <% } %>    
           
            <button type="submit" id="create">강의 개설</button> 
            <button type="submit" id="delete">강의 삭제</button>
        </form>

    <!-- <script>
        $("#create").click(function(){
            //OK 버튼 클릭하면
            $.ajax({
                url:'/api/courses',       //login주소로 
                async:true,         //동기화-서버에서 반응이 올때까지 기다림
                type:'POST',        //post 방식으로
                data:{
                    title:$("#title").val(),   //텍스트필드에 입력한 값을 ID라는 이름으로 보냄
                    day:$("#day").val(),
                    start_time:$("#start_time").val(),
                }
      

            }).done(function(resut){
                alert('완료되었습니다.');
            })
        });
    </script> -->
   <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>