<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>create course</title>
</head>
<body>
    <div id="outer">
        <h3> 강의 개설 </h3><p></p>
        
           수업명 : <input type="text" size="20">
           <p></p>
           요일 :
                <select id="day">
                <option id="mon">월요일</option>
                <option id="tue">화요일</option>
                <option id="wed">수요일</option>
                <option id="thu">목요일</option>
                <option id="fri">금요일</option>
                <option id="sat">토요일</option>
                <option id="sun">일요일</option>
            </select>
            <p></p>
           시작시간 : <input type="time">
                <p></p>
            학생 목록
            <p></p>
        
            <button id="create">강의 개설</button>
    </div>
</body>
</html>