<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Z-Class</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="shortcut icon" href="/public/ico/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/public/ico/favicon.ico" type="image/x-icon">
      <!--제이쿼리 불러오기-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    
   
</head>

<body>
    <div>
        <h1>Z-Class</h1>
    </div>
    <div class="loginForm">
        <form action="/logIn" method="post">
            ID<input type="text" name="id"><p></p>
            PW<input type="password" name="pw"><p></p>
            <button type="submit" id="logIn">Log IN</button>
        </form>
        <input type="button" value="Sign up" onclick="moveSignUpInfoPage()">
        <button>Forgot ID/PW?</button>
       
    </div>
    <script type="text/javascript">
        function moveSignUpInfoPage(){
            location.href="/pre_sign_up";
        }
    </script>
    <script src="/public/js/main.js"></script>
    <script src="/public/js/login.js"></script>
  
</body>

</html>