<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Z-Class</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="shortcut icon" href="/public/ico/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/public/ico/favicon.ico" type="image/x-icon">
    
   
</head>

<body>
    <div>
        <h1>Z-Class</h1>
    </div>
    <div class="loginForm">
   
        <div class="loginForm_id">
            ID<input type="text" id="loginId">
        </div>
        <div class="loginForm_password">
            PW<input type="password" id="loginPassword">
        </div>
        <button id="btnSignIn">Sign in</button>
        <button id="btnSignUp">Sign up</button>
        <button>Forgot ID/PW?</button>
        
    </div>

    <script src="/public/js/main.js"></script>
  
</body>

</html>