<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Z-Class</title>
        <link rel="stylesheet" href="/public/css/main.css">
        <link rel="stylesheet" href="/public/css/initial.css">
        <link rel="shortcut icon" href="/public/ico/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/public/ico/favicon.ico" type="image/x-icon">
    </head>

    <body>
        <h1>Z-Class 강의</h1>
            <form action="/sign-in" method="post">
                <input id="id" name="id" type="text">
                <input id="password" name="password" type="password">
                <button type="submit">sign-in</button>
                <button id="btn_sign_up">sign-up</button>
            </form>



        <script src="/public/js/main.js"></script>
    </body>

</html>