<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Z-Class</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="shortcut icon" href="/public/ico/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/public/ico/favicon.ico" type="image/x-icon">
</head>

<body>
    <div>
        <video id="selfCamera"></video>
        <button id="btnCheckMyself">사진 찍기 전 확인하기</button>
        <button id="btnGetPic" disabled="true">사진 촬영하기</button>
    </div>
    <canvas></canvas>
    <div>
        <img id="pic">
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/js/sign_up_takepic.js"></script>
</body>

</html>