<!DOCTYPE html>
 
<html>
<head>
    <meta charset="utf-8" />
    <title>sign up</title>
    <!--제이쿼리 불러오기-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>

    <h1>sign up</h1>
    <form method = "post" action="sign_up_info">
        <table>
            <tr>
                <td><label>이름 : </label></td>
                <td><input type="text" name="name" id="name"></td>
            </tr>
            <tr>
                <td><label>비밀번호 : </label></td>
                <td><input type="text" name="password" id="password"></td>
    
    
            </tr>
    
            <tr>
                <td><label>학년 : </label></td>
                <td><input type="text" name="grade" id="grade"></td>
    
    
            </tr>
    
            <tr>
                <td><label>보호자 연락처 : </label></td>
                <td><input type="text" name="phone_number" id="phone_number"></td>
    
    
            </tr>
    
            <tr>
                <td><input type="submit" value="중복 확인" id="check"></td>
                <td><input type="button" value="얼굴 입력" onclick="location.href='/sign_up'"></td>
            </tr>
    
        </table>
    </form>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/Users/kim-ahyoon/Z_Class/src/public/js/server.js"></script>
 
</body>
</html>
