<!--학생이 로그인 후 입장하는 화면.-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>Z-Class</title>
</head>
<body>
    
    <div id="outer">
        <h3>수업 입장</h3>
        수강할 과목을 선택해주세요.<p></p>
    <div class="inner">
        <select id="all_course" style="width:50%; display: inline" >
            <!--나중에 DB로부터 course table 받아서 출력-->
            <option value="c1">영어1</option>
            <option value="c2">국어2</option>
            <option value="c3">수학3</option>
            <option value="c4">영어2</option>
            <option value="c5">국어1</option>
        </select>
        <p></p>
        <div class="btn_EnterClass">
            <button id="btnEnterClass" >수업 입장하기</button>
        </div>
        <p></p>
    </div>
    </div>
    <script src="/public/js/s_enter_course.js"></script>
</body>
</html>