<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Z-Class</title>
        <link rel="stylesheet" href="/public/css/main.css">
        <link rel="shortcut icon" href="/public/ico/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/public/ico/favicon.ico" type="image/x-icon">
    </head>

    <body>
        학생 페이지
        <button id="btn_logout">Logout</button>


        <script src="/public/js/waiting_room.js"></script>
    </body>

</html>