<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Z-Class</title>
        <link rel="stylesheet" href="/public/css/main.css">
        <link rel="shortcut icon" href="/public/ico/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/public/ico/favicon.ico" type="image/x-icon">
    </head>

    <div id="container">
        <div id="top_container">
            <span>Z-Class에 오신 것을 환영합니다 !</span>
            <a><%=user_name%></a>
            <button id="btn_logout">로그아웃</button>
        </div>

        <div id="main_container_teacher">
            <form method="post">
            <div id="course_container">
                <div id="course_list">
                    
                    <% for (let i=0; i < user_courses.length; i++ ){ %>
                        <label><input type="radio" name="course_objectId" value="<%=user_courses[i]._id%>" id="<%=user_courses[i]._id%>" required="required">
                        <%=user_courses[i].title%></label>
                           
                    <% } %>
                </div>
            </div>
            <button id="btn_modify_course" formaction="/course/modify">강의 수정</button>
            <button id="btn_enter_course" formaction="/class">강의 입장</button>
            </form>
            <button id="btn_make_course">새 강의 개설</button>
        </div>
    </div>


        <script src="/public/js/waiting_room.js"></script>
    </body>

</html>