<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Z-Class에 오신 것을 환영합니다</title>
        <link rel="stylesheet" href="/public/css/initial.css">
        <link rel="stylesheet" href="/public/css/menu.css">
        <link rel="stylesheet" href="/public/css/main.css">
        <link rel="shortcut icon" href="/public/ico/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/public/ico/favicon.ico" type="image/x-icon">
    </head>

    <body>
        <div id="container">
            <div id="background_container">
                <div id="background_1" class="background_base"></div>
                <div id="background_2" class="background_base"></div>
            </div>
            <div id="sign_in_container" class="main_container">
                <h1>Z-Class</h1>
                <form id="form_login" action="/user/sign_in" method="post">
                    <input id="input_id" name="id" type="text" placeholder="아이디" required="required">
                    <input id="input_password" name="password" type="password" placeholder="비밀번호" required="required">
                    <button id="btn_sign_in" type="submit">로그인</button>
                </form>
                <div id="href_container">
                    <span><a href="/user/sign_up">회원가입</a>이 필요하신가요?</span> <br>
                    <span><a href="/user/find_id">아이디</a> / <a href="/user/find_password">비밀번호</a>를 잊으셨나요?</span><br>
                </div>
            </div>
        </div>
        <script src="/public/js/1_main/main.js"></script>
    </body>
</html>