<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Z-Class에 오신 것을 환영합니다</title>
        <link rel="stylesheet" href="/public/css/initial.css">
        <link rel="stylesheet" href="/public/css/menu.css">
        <link rel="stylesheet" href="/public/css/main.css">
        <link rel="shortcut icon" href="/public/ico/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/public/ico/favicon.ico" type="image/x-icon">
    </head>

    <body>
        <div id="background_container">
            <div id="background_1" class="background_base"></div>
            <div id="background_2" class="background_base"></div>
        </div>
        <div id="container">
            <div id="msg_container" class="main_container">
                <%=msg%>
                <button onclick="location.href='/';">돌아가기</button>
            </div>
        </div>
    </div>
    </body>
</html>