<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Z-Class</title>
        <link rel="stylesheet" href="/public/css/initial.css">
        <link rel="stylesheet" href="/public/css/menu.css">
        <link rel="stylesheet" href="/public/css/main.css">
        <link rel="shortcut icon" href="/public/ico/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/public/ico/favicon.ico" type="image/x-icon">
    </head>

    <body>
        <div id="background_container">
            <div id="background_1" class="background_base"></div>
            <div id="background_2" class="background_base"></div>
        </div>
        <div id="container">
            <div id="sign_up_container" class="main_container">
                <h1>계정 만들기</h1>

                <form id="form_sign_up" action="/user/sign_up" method="post">
                    <div id="job_container">
                        <span>🔸 해당되는 유형을 눌러주세요 🔸</span><br><br>
                        <label><input type="radio" id="radio_student" name="job" value="student" required="required">🤷‍♀️</label>
                    <label><input type="radio" id="radio_teacher" name="job" value="teacher">👨‍🏫</label>
                    <br><br><span>───────────────</span>
                    </div>
                    <div id="sign_up_input_container" class="display_none">
                            <div id="id_container">
                                <input name="id" type="text" required="required" placeholder="아이디">
                                <button id="btn_check_duplicated" type="button">중복 확인</button>
                            </div>
                            <input name="password" type="password" required="required" placeholder="비밀번호">
                            <input name="name" type="text" required="required" placeholder="이름">
                            <input name="grade" type="text"  required="required" placeholder="학년">
                            <input name="phone_number" type="text" required="required">
                            <input name="affiliation" type="text" required="required" placeholder="소속">
                        </div>
                </form>

                <div id="video_container" class="display_none">
                    <div id="video_wrapper">
                        <video id="vid_self">사용자의 미디어를 불러오는 중입니다.</video>
                        <span>카메라를 응시한 상태로 확인을 눌러주세요 !</span>
                        <div id="progress">
                            <div id="progress_text">0%</div>
                            <div id="progress_bar"></div>
                        </div>
                    
                        <canvas class="display_none"></canvas>
                    </div>
                </div>

                <div id="btn_sign_up_container">
                    <button type="button" id="btn_back" onclick="location.href='/';">돌아가기</button>
                    <button type="button" id="btn_next" disabled>확인</button>
                </div>
            </div>
        </div>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/public/js/1_main/sign_up.js"></script>
    </body>
</html>