:root{
    --border-color: #80CBC4;
}

*{
    font-family: '맑은 고딕';
    box-sizing: border-box;
}

body{
    margin:0;
    position:fixed;
    width:100%;
    height: 100%;
    background-color: #E8F8F5;
}

/*  ###########  전체 큰 틀 ########### */

/*  == 선생님  */
#container_teacher{
    width:100%;
    height: 100%;

    display:grid;
    grid-template-rows: 25% 75%;
    grid-template-columns: 50% 50%;
    grid-template-areas:
        "top top"
        "main side";
}

/*  == 학생  */
#container_student{
    width:100%;
    height:100%;

    display:grid;
    grid-template-rows: 25% 75%;
    grid-template-columns: 75% 25%;
    grid-template-areas: 
        "top top"
        "main side";
}

/*  상단 부분 ( 학생들 화면 보이는 곳 )  */
#topContainer{
    grid-area: top;
    
    margin:0.25rem;

}

/*  메인 부분 ( 선생님 화면 보이는 곳 )  */
#mainContainer{
    grid-area: main;

    margin:0.25rem;
}

/*  사이드 부분 ( 옵션, 채팅창 등 기타 요소가 보이는 곳 )  */
#sideContainer{
    grid-area: side;

    margin:0.25rem;
}


/*  ###########  학생 영상 영역 ( top ) ########### */

#studentsMediaWrapper{
    position:relative;
    width:100%; 
    height:100%;
    border: 0.15rem solid var(--border-color);
    border-radius: 5px;
}

/* 학생 영상이 들어갈 공간 */
#studentsMediaContainer {
    display:flex;
    flex-direction: row;

    overflow-x:scroll;
    -ms-overflow-style: none;

    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

#studentsMediaContainer::-webkit-scrollbar{
    display:none;
}


/* 스크롤을 위한 버튼 */
.btnScrollContainer{
    height:100%;
    width:1.75rem;
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.25);
    border-radius: 3px;
}

.btnScrollContainer:active{
    background-color: rgba(0,0,0,0.5);
}

.btnScroll{
    flex:1;
    text-align: center;
    color:var(--text-title-color);

    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#btnLeftStudentContainer{
    position:absolute;
    left: 0;
}

#btnRightStudentContainer{
    position: absolute;
    right:0;
}

/* 각 학생의 media와 이름을 담음 */

.studentMediaContainer{
    background-color: #A3E4D7;
    border: 0.15rem solid var(--border-color);
    border-radius: 5px;
    margin:0.25rem;
    position:relative;
}

.studentMedia{
    height: 100%;
}

.studentName{
    position:absolute;
    bottom:0;
    right:0;
    font-size: 1rem;
    color:white;
    background-color: rgba(0,0,0,0.3);
    padding-left:0.25rem;
    padding-right:0.25rem;

    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}


/*  ###########  선생님 영상 영역 ( main ) ########### */

#teacherMediaContainer{
    width:100%;
    height:100%;


}
#teacherMedia{
    width:100%;
    height: 100%;
    background-color: #A3E4D7;
    border: 0.15rem solid var(--border-color);
    border-radius: 5px;
}

/*  ###########  기타 옵션 및 채팅창 영역 ( side ) ########### */

/*  == 선생님  */
#container_teacher #sideContainer{

    display:grid;
    grid-template-rows: 85% 15%;
    grid-template-columns: 50% 50%;
    grid-template-areas:
        "class_info chat"
        "class_info option"
}

/*  == 학생  */
#container_student #sideContainer{
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 85% 15%;
    grid-template-areas:
        "chat"
        "option"
}

#classInfoContainer{
    grid-area: class_info;
}



#chatRoomContainer{
    grid-area: chat;
    
    background: linear-gradient(180deg, #d1f2eb 0%, #e8f8f5 50%, #FFFFFF 100%);

    border: 0.15rem solid var(--border-color);
    border-radius: 5px;

    position:relative;
}
#chatRoom{
    display: flex;
    flex-direction: column;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

/* 채팅창 세부 인터페이스 */

#chatRoomTitle {
    border-bottom: 0.15rem solid var(--border-color);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: linear-gradient(135deg, #1ABC9C 0%, #76D7C4 66%, #D1F2EB 100%);
    text-align: center;
    color: #0E6251;
    font-weight: bold;
    font-size: 1.25rem;
    padding-bottom: 0.3rem;

    
    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#messageBox {
    flex: 1;
    overflow-y: scroll;
    overflow-x:hidden;
}
#messageBox::-webkit-scrollbar-track{
    background-color: #A3E4D7;
}
#messageBox::-webkit-scrollbar-thumb{
    background-color: #148F77;
    background-clip: padding-box;
    border: 0.2rem solid transparent;
    border-radius:8px;
}
#messageBox::-webkit-scrollbar{
    background-color: #A3E4D7;
    width:0.75rem;
}


#inputBox {
    margin-top: 0.25rem;
    border: none;
    border-top: 0.15rem solid var(--border-color);

    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

    height: 2.25rem;
    background-color: #A3E4D7;
    padding-left: 0.5rem;
    padding-bottom: 0.25rem;
}


/* 채팅 메시지 이름, 내용 */

.chat_name {
    font-weight: bold;
    display: block;
    margin: 0.3rem;
    clear: both;
}
#chat_name_other {
    color: #73C6B6;
    float: left;
}
#chat_name_me {
    color: #7DCEA0;
    float: right;
}

.chat_content {
    word-break: break-all;
    border-radius: 10px;
    padding: 0.5rem;
    margin: 0.2rem 0.4rem;
    clear: both;
}
#chat_content_other {
    background-color: #A2D9CE;
    float: left;
}
#chat_content_me {
    background-color: #A9DFBF;
    float: right;
}


#optionContainer{
    grid-area: option;
    
    border: 0.15rem solid var(--border-color);
    background-color: #76D7C4;
    border-radius: 5px;

    margin-top:0.25rem;
    
    display:flex;
    align-items: stretch;
}

.btnOptions{
    flex: 1;
    text-align: center;
    background: linear-gradient(135deg, #1ABC9C 0%, #76D7C4 50%, #D1F2EB 100%);  
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.15rem solid var(--border-color);
    border-radius: 3px;

    
    color: #0E6251;
    font-weight: bold;

    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.btnOptions:hover{
    background: linear-gradient(135deg, #1ABC9C 0%, #76D7C4 75%, #D1F2EB 100%);  
    transition: background-color .5s;    
}
.btnOptions:active{
    background: #148F77;
}