:root{
    --border-color: #0E6251;
    --text-title-color: #0E6251;
    --primary-color-1: #E8F8F5;
    --primary-color-2: #D1F2EB;
    --primary-color-3: #A3E4D7;
    --primary-color-4: #76D7C4;
    --primary-color-9: #76D7C4;
    --background-color: linear-gradient(180deg, #D1F2EB 0%, #76D7C4 100%);
}

* {
    font-family: '맑은 고딕';
    box-sizing: border-box;
}

body {
    margin: 0;
    position:fixed;
    width:100%;
    height: 100%;
}

#container{ 
    background: var(--background-color);
    z-index: -100;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.invisible{
    visibility:hidden;
}

.none_display{
    display: none;
}