:root{
    --border-color: #0E6251;
    --text-title-color: #0E6251;
    --primary-color-1: #E8F8F5;
    --primary-color-2: #D1F2EB;
    --primary-color-3: #A3E4D7;
    --primary-color-4: #76D7C4;
    --primary-color-9: #76D7C4;
    --background-color: linear-gradient(180deg, #D1F2EB 0%, #76D7C4 100%);
}

* {
    font-family: '맑은 고딕';
    color:white;
    box-sizing: border-box;
}

body {
    margin: 0;
    position:fixed;
    width:100%;
    height: 100%;
}

#container{ 
    position: fixed;
    width:100%;
    height:100%;
}
/* #####  클래스  ##### */
.visibility_hidden{
    visibility:hidden;
}

.display_none{
    display: none;
}




/* #####  배경화면  ##### */
#background_container{
    position:fixed;
    width:100%;
    height:100%;
    
    background-color: #1B2631 ;  
    z-index: -100;
}
/* 배경화면 요소 */
.background_base{
    position:fixed;
    filter:blur(100px);
    opacity: 0.6;
    width:1700px;
    height:1700px;
}
#background_1{
    left:-200px;
    top:-200px;
    background-color: #0E6251;
    border-radius: 50%;
    animation: ani_bg1 10s linear alternate infinite;
}
#background_2{
    right:-200px;
    bottom:-200px;
    background-color: #154360;
    border-radius: 100%;
    animation: ani_bg2 10s ease-in-out alternate infinite;
}
/* 각 애니메이션 */
@keyframes ani_bg1{
    100%{
        transform:rotate(1turn) translate(300px);
    }
}
@keyframes ani_bg2{
    100%{
        transform:rotate(-1turn) translate(-300px);
    }
}