/*  ##########   ##########  */
#container{
    display:flex;
    align-items: center;
    justify-content: center;
}

.main_container{

    border: 0.4rem solid rgba(0,0,0,0);
    border-radius: 20px;
    padding:1rem;

    background: linear-gradient(180deg, rgba(0,0,0,0.35) 0%, rgba(0,0,0,0.7) 100%);

    display:flex;
    flex-direction: column;

}
#sign_in_container{
    height:480px;
    width:360px;
    margin-bottom:0;
}
#sign_up_container{
    width:510px;
    height:680px;
}


h1{
    font-size: 3rem;
    text-align: center;
    margin : 0;
}
#msg_container{
    flex:9;
    display:flex;
    align-items: center;
    justify-content: center;
}
#msg_wrapper{
    
    color:white;
    font-size: 1.5rem;
    text-align: center;
}
#btn_return{
    flex: 1;
    
    height:3rem;
    border-radius: 5px;

    background: linear-gradient(315deg, #2874A6 33%,#76D7C4 100%);
    color:white;

    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    outline: none;
    border: none;
    cursor: pointer;
}
#btn_return:hover{
    background: linear-gradient(315deg, #76D7C4 0%, #2874A6 100%);    
}
#btn_return:active{
    background: #2874A6;

}